In [2]:
import os
import sys
import numpy as np
import pandas as pd
import pandas_datareader as pdr

# Hack to ensure the notebook can load local modules by appending the parent directory to the path
from dotenv import find_dotenv
sys.path.append(os.path.dirname(find_dotenv()))
from alphasim.backtest import backtest

In [3]:
price_df = pdr.get_data_yahoo(['VTI', 'TLT'])
price_df = price_df['Adj Close']

display(price_df)

Symbols            VTI         TLT
Date
2017-10-06  120.502838  111.559845
2017-10-09  120.264030  111.911896
2017-10-10  120.548775  112.092430
2017-10-11  120.714134  112.309021
2017-10-12  120.567131  112.787437
...                ...         ...
2022-09-29  181.940002  103.542809
2022-09-30  179.470001  102.206001
2022-10-03  184.029999  103.830002
2022-10-04  189.940002  103.540001
2022-10-05  190.259995  102.410004

[1258 rows x 2 columns]

In [4]:
weight_df = price_df.copy()
weight_df['VTI'] = 0.6
weight_df['TLT'] = 0.4

display(weight_df)

Symbols     VTI  TLT
Date
2017-10-06  0.6  0.4
2017-10-09  0.6  0.4
2017-10-10  0.6  0.4
2017-10-11  0.6  0.4
2017-10-12  0.6  0.4
...         ...  ...
2022-09-29  0.6  0.4
2022-09-30  0.6  0.4
2022-10-03  0.6  0.4
2022-10-04  0.6  0.4
2022-10-05  0.6  0.4

[1258 rows x 2 columns]

In [5]:
def min_commission(trade_price, trade_size):
    return 10

In [ ]:
buffer = 0.05
initial_cap = 10000
result = backtest(price_df, weight_df, min_commission, buffer, initial_cap)

In [28]:
assert(price_df.shape == weight_df.shape)
df = pd.concat([price_df, weight_df], keys=['price', 'target_weight'], axis=1)
df = df.swaplevel(axis=1)

df['cash'] = pd.NA
df.iloc[0,-1] = initial_cap

display(df)

Symbols            VTI         TLT           VTI           TLT   cash
                 price       price target_weight target_weight
Date
2017-10-06  120.502838  111.559845           0.6           0.4  10000
2017-10-09  120.264030  111.911896           0.6           0.4   <NA>
2017-10-10  120.548775  112.092430           0.6           0.4   <NA>
2017-10-11  120.714134  112.309021           0.6           0.4   <NA>
2017-10-12  120.567131  112.787437           0.6           0.4   <NA>
...                ...         ...           ...           ...    ...
2022-09-29  181.940002  103.542809           0.6           0.4    NaN
2022-09-30  179.470001  102.206001           0.6           0.4    NaN
2022-10-03  184.029999  103.830002           0.6           0.4    NaN
2022-10-04  189.940002  103.540001           0.6           0.4    NaN
2022-10-05  190.259995  102.410004           0.6           0.4    NaN

[1258 rows x 5 columns]